<!-- Footer -->
<footer id="footer">

    <!-- Main Footer -->
    <div id="main-footer">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 animate-onscroll">

                <h4>联系我们</h4>

                <p>克拉玛依家居建材行业协会<br><br>
                   地址：克拉玛依市解放路111号<br><br>
                   电话：1999999999999
                </p>

            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 animate-onscroll">

                <h4>相关网站</h4>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 menu-container">

                    <ul class="menu">

                        <li><a href="http://www.sdpc.gov.cn" target="_blank" title="描述:中华人民共和国国家发展和改革委员会">国家发展和改革委员会</a>
                        </li>

                        <li><a href="http://www.sasac.gov.cn/n1180/index.html#" target="_blank"
                               title="描述:国务院国有资产监督管理委员会">国有资产监督管理委员会</a></li>

                        <li><a href="http://www.mof.gov.cn" target="_blank" title="描述:中华人民共和国财政部">中华人民共和国财政部</a></li>

                        <li><a href="http://www.mca.gov.cn" target="_blank" title="描述:中华人民共和国民政部">中华人民共和国民政部</a></li>


                    </ul>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 menu-container">

                    <ul class="menu">

                        <li><a href="http://www.bm.cei.gov.cn" target="_blank"
                               title="描述:中国建筑材料联合会、建筑材料工业信息中心">中国建筑材料联合会</a></li>

                        <li><a href="http://www.chinaassn.com" target="_blank" title="描述:中国行业协会商会网">中国行业协会商会网</a></li>

                        <li><a href="http://www.chinacements.com" target="_blank" title="描述:中国水泥网">中国水泥网</a></li>

                        <li><a href="http://www.ceramicschina.com" target="_blank" title="描述:中国陶瓷网">中国陶瓷网</a></li>
                  </ul>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 menu-container">

                    <ul class="menu">

                        <li><a href="http://www.bmlink.com" target="_blank" title="描述:中国建材网">中国建材网</a></li>

                        <li><a href="http://www.glass.org.cn" target="_blank" title="描述:中国建筑玻璃与工业玻璃协会">中国建筑玻璃与工业玻璃协会</a>
                        </li>

                        <li><a href="http://www.cbmd.cn" target="_blank" title="描述:中国建材报">中国建材报</a></li>


                    </ul>

                </div>
            </div>

        </div>

    </div>
    <!-- /Main Footer -->


    <!-- Lower Footer -->
    <div id="lower-footer">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 animate-onscroll">

                <p class="copyright">© 2016 克拉玛依家居建材行业协会.版权所有.</p>

            </div>

        </div>

    </div>
    <!-- /Lower Footer -->


</footer>
<!-- /Footer -->
<!-- Back To Top -->
<a href="#" id="button-to-top"><i class="icons icon-up-dir"></i></a>
