<!-- Header -->
<header id="header" class="animate-onscroll">

    <!-- Main Header -->
    <div id="main-header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div id="logo" class="col-lg-5 col-md-5 col-sm-5">
                    <img src="/themes/img/logo.png" alt="Logo">
                    <!--<a href="main-v1.html"></a>-->

                </div>
                <!-- /Logo -->
                <!-- Main Quote -->
                <div class="col-lg-3 col-md-3 col-sm-3">

                    <blockquote>创建全国一流协会，营造温馨会员之家</blockquote>

                </div>
                <!-- /Main Quote -->
                <!-- Newsletter -->
                <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                    <img src="/themes/img/weixin.jpg" alt="微信扫描二维码">

                </div>
                <!-- /Newsletter -->
            </div>

        </div>

    </div>
    <!-- /Main Header -->

    <!-- Lower Header -->
    <div id="lower-header">

        <div class="container">

            <div id="menu-button">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <span>分协会简介</span>
            </div>

            <ul id="navigation">
                <!-- Home -->
                <li class="home-button current-menu-item">

                    <a href="main.html"><i class="icons icon-home"></i></a>
                    <ul>

                        <li>
                            <span>简介</span>
                            <ul>
                                <li><a href="main-v1.html">分协会简介1</a></li>
                                <li><a href="main-v2.html">分协会简介2</a></li>
                                <li><a href="main-v3.html">分协会简介3</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <!-- /Home -->
                <li>
                    <span>分协会简介</span>

                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="team.html">Team</a></li>
                    </ul>

                </li>

                <!-- Pages -->
                <li>
                    <span>组织架构</span>

                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="team.html">Team</a></li>
                    </ul>

                </li>
                <!-- /Pages -->

                <!-- Events -->
                <li>

                    <span>装修装饰分会</span>
                    <ul>
                        <li><a href="event-calendar.html">Calendar</a></li>
                        <li><a href="event-post-v1.html">Event post style 1</a></li>
                        <li><a href="event-post-v2.html">Event post style 2</a></li>
                    </ul>

                </li>
                <!-- /Events -->

                <!-- Media -->
                <li>

                    <span>陶瓷分会</span>

                </li>
                <li>

                    <span>管材型材分会</span>

                </li>
                <li>

                    <span>家居布艺分会</span>

                </li>
                <li>

                    <span>门业地板分会</span>

                </li>
                <li>
                    <span>五金机电分会</span>
                </li>
            </ul>

        </div>

    </div>
    <!-- /Lower Header -->


</header>
<!-- /Header -->
