<!-- 广告列表 -->
<section>
    <!-- Owl Carousel -->
    <div class="owl-carousel-container">
        <div class="owl-header">
            <h3 class="animate-onscroll">协会推荐</h3>
            <div class="carousel-arrows animate-onscroll">
                <span class="left-arrow"><i class="icons icon-left-dir"></i></span>
                <span class="right-arrow"><i class="icons icon-right-dir"></i></span>
            </div>
        </div>

        <div class="owl-carousel" data-max-items="3">

            <!-- Owl Item -->
            <div>

                <!-- Blog Post -->
                <div class="blog-post animate-onscroll">

                    <div class="post-image">
                        <img src="img/blog/post2.jpg" alt="">
                    </div>

                    <h4 class="post-title"><a href="blog-single-sidebar.html">Donec porta diam eu
                            massa</a></h4>


                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                        ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                    <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                        More</a>

                </div>
                <!-- /Blog Post -->

            </div>
            <!-- /Owl Item -->

            <!-- Owl Item -->
            <div>

                <!-- Blog Post -->
                <div class="blog-post animate-onscroll">

                    <div class="post-image">
                        <img src="img/blog/post3.jpg" alt="">
                    </div>

                    <h4 class="post-title"><a href="blog-single-sidebar.html">Vestibulum iaculis </a>
                    </h4>

                    <div class="post-meta">
                        <span>by <a href="#">admin</a></span>
                        <span>October 01, 2013 11:28AM</span>
                    </div>

                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                        ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                    <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                        More</a>

                </div>
                <!-- /Blog Post -->

            </div>
            <!-- /Owl Item -->

            <!-- Owl Item -->
            <div>

                <!-- Blog Post -->
                <div class="blog-post animate-onscroll">

                    <div class="post-image">
                        <img src="img/blog/post4.jpg" alt="">
                    </div>

                    <h4 class="post-title"><a href="blog-single-sidebar.html">Praesent justo dolor</a>
                    </h4>

                    <div class="post-meta">
                        <span>by <a href="#">admin</a></span>
                        <span>October 01, 2013 11:28AM</span>
                    </div>

                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                        ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                    <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                        More</a>

                </div>
                <!-- /Blog Post -->

            </div>
            <!-- /Owl Item -->

            <!-- Owl Item -->
            <div>

                <!-- Blog Post -->
                <div class="blog-post animate-onscroll">

                    <div class="post-image">
                        <img src="img/blog/post2.jpg" alt="">
                    </div>

                    <h4 class="post-title"><a href="blog-single-sidebar.html">Donec porta diam eu
                            massa</a></h4>

                    <div class="post-meta">
                        <span>by <a href="#">admin</a></span>
                        <span>October 01, 2013 11:28AM</span>
                    </div>

                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                        ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                    <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                        More</a>

                </div>
                <!-- /Blog Post -->

            </div>
            <!-- /Owl Item -->

            <!-- Owl Item -->
            <div>

                <!-- Blog Post -->
                <div class="blog-post animate-onscroll">

                    <div class="post-image">
                        <img src="img/blog/post3.jpg" alt="">
                    </div>

                    <h4 class="post-title"><a href="blog-single-sidebar.html">Vestibulum iaculis </a>
                    </h4>

                    <div class="post-meta">
                        <span>by <a href="#">admin</a></span>
                        <span>October 01, 2013 11:28AM</span>
                    </div>

                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                        ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                    <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                        More</a>

                </div>
                <!-- /Blog Post -->

            </div>
            <!-- /Owl Item -->

            <!-- Owl Item -->
            <div>

                <!-- Blog Post -->
                <div class="blog-post animate-onscroll">

                    <div class="post-image">
                        <img src="img/blog/post4.jpg" alt="">
                    </div>

                    <h4 class="post-title"><a href="blog-single-sidebar.html">Praesent justo dolor</a>
                    </h4>

                    <div class="post-meta">
                        <span>by <a href="#">admin</a></span>
                        <span>October 01, 2013 11:28AM</span>
                    </div>

                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                        ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                    <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                        More</a>

                </div>
                <!-- /Blog Post -->
            </div>
            <!-- /Owl Item -->
        </div>

    </div>
    <!-- /Owl Carousel -->                        <!-- Banner Rotator -->
    <div class="banner-rotator animate-onscroll">

        <div class="flexslider banner-rotator-flexslider">

            <ul class="slides">

                <li id="flex_rotator_1">
                    <div class="banner-rotator-content">
                        <h5>广告招租</h5>

                        <h2>广告位置</h2>
                        <span class="date">December 17th</span>
                        <a href="#" class="button big button-arrow">Details</a>
                    </div>
                </li>

                <li id="flex_rotator_2">
                    <div class="banner-rotator-content">
                        <h5>Campaign trial</h5>

                        <h2>Corden</h2>
                        <span class="date">April 12th</span>
                        <a href="#" class="button big button-arrow">Details</a>
                    </div>
                </li>

                <li id="flex_rotator_3">
                    <div class="banner-rotator-content">
                        <h5>Campaign trial</h5>

                        <h2>Redhedge</h2>
                        <span class="date">June 27th</span>
                        <a href="#" class="button big button-arrow">Details</a>
                    </div>
                </li>

            </ul>

        </div>

    </div>
    <!-- /Banner Rotator -->

</section>
