<!-- 广告列表 -->
<section>
    <div class="sidebar-box white animate-onscroll">
        <!-- Owl Carousel -->
        <div class="owl-carousel-container">
            <div class="owl-header">
                <div class="right-arrow"><i class="icons icon-right-dir"></i>

                    <h3 style="display:inline-block;">协会推荐</h3></div>
                <div class="carousel-arrows animate-onscroll">
                    <span class="left-arrow"><i class="icons icon-left-dir"></i></span>
                    <span class="right-arrow"><i class="icons icon-right-dir"></i></span>
                </div>
            </div>

            <div class="owl-carousel" data-max-items="3">

                <!-- Owl Item -->
                <div>

                    <!-- Blog Post -->
                    <div class="blog-post animate-onscroll">

                        <div class="post-image" style="width: 200px;">
                            <img src="/themes/img/advert/1.jpg" alt="">
                        </div>

                        <h4 class="post-title"><a href="blog-single-sidebar.html">罗胜装饰公司</a></h4>

                        <p>承接价位:3万元以上
                            专长风格:现代简约,欧式风格,中式风格,古典风格,田园风格,地中海风格,美式风格,混搭风格,其他</p>

                        <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">更多</a>

                    </div>
                    <!-- /Blog Post -->

                </div>
                <!-- /Owl Item -->

                <!-- Owl Item -->
                <div>

                    <!-- Blog Post -->
                    <div class="blog-post animate-onscroll">

                        <div class="post-image" style="width: 200px;">
                            <img src="/themes/img/advert/2.jpg" alt="">
                        </div>

                        <h4 class="post-title"><a href="blog-single-sidebar.html">志邦整体橱柜</a></h4>

                        <p>
                            志邦厨柜股份有限公司成立于1998年，是集产品研发、生产、销售为一体的专业化厨柜企业，经过16年的不断发展</p>

                            <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">更多</a>

                    </div>
                    <!-- /Blog Post -->

                </div>
                <!-- /Owl Item -->

                <!-- Owl Item -->
                <div>

                    <!-- Blog Post -->
                    <div class="blog-post animate-onscroll">

                        <div class="post-image" style="width: 200px;">
                            <img src="/themes/img/advert/3.jpg" alt="">
                        </div>

                        <h4 class="post-title"><a href="blog-single-sidebar.html">集成吊顶</a>
                        </h4>

                        <p>全套引进最先进的德国豪迈全自动智能数控流水线，为用户带来高精确度、高品质的产品。</p>

                        <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">更多</a>

                    </div>
                    <!-- /Blog Post -->

                </div>
                <!-- /Owl Item -->

                <!-- Owl Item -->
                <div>

                    <!-- Blog Post -->
                    <div class="blog-post animate-onscroll">

                        <div class="post-image" style="width: 200px;">
                            <img src="/themes/img/advert/4.jpg" alt="">
                        </div>

                        <h4 class="post-title"><a href="blog-single-sidebar.html">箭牌卫浴</a></h4>

                        <p>箭牌产品系列包括卫生陶瓷洁具、高档实木浴室柜、PVC浴室柜、压克力浴缸、冲浪缸、淋浴房、蒸汽房、全铜质镀铬龙头、搪瓷浴缸</p>

                        <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">更多</a>

                    </div>
                    <!-- /Blog Post -->

                </div>
                <!-- /Owl Item -->

                <!-- Owl Item -->
                <div>

                    <!-- Blog Post -->
                    <div class="blog-post animate-onscroll">

                        <div class="post-image" style="width: 200px;">
                            <img src="/themes/img/advert/5.jpg" alt="">
                        </div>

                        <h4 class="post-title"><a href="blog-single-sidebar.html">顾家家居</a>
                        </h4>

                        <p>顾家家居,中国家居行业的领军品牌,公司旗下拥有床垫、布艺沙发、休闲沙发、功能沙发、真皮沙发、软床、等产品系列,产品远销世界120多个国家和地区</p>

                        <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                            More</a>

                    </div>
                    <!-- /Blog Post -->

                </div>
                <!-- /Owl Item -->


                <!-- /Owl Item -->
            </div>

        </div>
        <!-- /Owl Carousel -->                        <!-- Banner Rotator -->
        <div class="banner-rotator animate-onscroll">

            <div class="flexslider banner-rotator-flexslider">

                <ul class="slides">

                    <li id="flex_rotator_1">
                        <div class="banner-rotator-content">
                            <h5>广告招租</h5>

                            <h2>广告位置</h2>

                            <a href="#" class="button big button-arrow">详情</a>
                        </div>
                    </li>

                    <li id="flex_rotator_2">
                        <div class="banner-rotator-content">
                            <h5>广告招租</h5>

                            <h2>广告位置</h2>

                            <a href="#" class="button big button-arrow">详情</a>
                        </div>
                    </li>

                    <li id="flex_rotator_3">
                        <div class="banner-rotator-content">
                            <h5>广告招租</h5>

                            <h2>广告位置</h2>
                            <a href="#" class="button big button-arrow">详情</a>
                        </div>
                    </li>

                </ul>

            </div>

        </div>
        <!-- /Banner Rotator -->
    </div>
</section>
