<!-- 文件下载列表 -->
<div class="sidebar-box white animate-onscroll">
    <div class="right-arrow"><i class="icons icon-right-dir"></i><h3 style="display:inline-block;">政策法规</h3></div>
    <p><a href="html/克拉玛依家居建材行业协会自律公约.html" class="button transparent button-arrow">家居建材协会自律公约</a></p>
    <p> <a href="html/克拉玛依市家居建材行业协会会员管理办法.html" class="button transparent button-arrow">家居建材协会会员管理办法</a></p>
    <p><a href="html/克拉玛依市家居建材行业协会会费管理办法.html" class="button transparent button-arrow">家居建材协会会费管理办法</a></p>
    <p><a href="html/克拉玛依市家居建材行业协会章程.html" class="button transparent button-arrow">家居建材协会章程</a></p>
    <p><a href="html/克拉玛依市家居建材行业协会职能.html" class="button transparent button-arrow">家居建材协会职能</a></p>
    <p><a href="html/协会会议制度修订版.html" class="button transparent button-arrow">家居建材会议制度修订版</a></p>
</div>