<!-- 热门事件 -->
<div class="sidebar-box white animate-onscroll">
    <div class="right-arrow"><i class="icons icon-right-dir"></i><h3 style="display:inline-block;">协会公告</h3></div>
    <ul class="upcoming-events">
        <!-- Event -->
        <li>
            <div class="date">
                <span>
                    <span class="day">25号</span>
                    <span class="month">12月</span>
                </span>
            </div>

            <div class="event-content">
                <h6><a href="event-post-v2.html">协会联欢会（请提前报名）</a></h6>
                <ul class="event-meta">
                    <li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
                    <li><i class="icons icon-location"></i> 克拉玛依市</li>
                </ul>
            </div>
        </li>
        <!-- /Event -->

        <!-- Event -->
        <li>
            <div class="date">
                <span>
                    <span class="day">5号</span>
                    <span class="month">12月</span>
                </span>
            </div>

            <div class="event-content">
                <h6><a href="event-post-v2.html">一届十二次常务理事会</a></h6>
                <ul class="event-meta">
                    <li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
                    <li><i class="icons icon-location"></i> 克拉玛依市</li>
                </ul>
            </div>
        </li>
        <!-- /Event -->

        <!-- Event -->
        <li>
            <div class="date">
                <span>
                    <span class="day">8号</span>
                    <span class="month">12月</span>
                </span>
            </div>

            <div class="event-content">
                <h6><a href="event-post-v2.html">2015-1-24秋博会</a></h6>
                <ul class="event-meta">
                    <li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
                    <li><i class="icons icon-location"></i> 克拉玛依市</li>
                </ul>
            </div>
        </li>
        <!-- /Event -->
        <li>
            <div class="date">
                <span>
                    <span class="day">8号</span>
                    <span class="month">12月</span>
                </span>
            </div>

            <div class="event-content">
                <h6><a href="event-post-v2.html">一届十三次常务理事会</a></h6>
                <ul class="event-meta">
                    <li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
                    <li><i class="icons icon-location"></i>克拉玛依市</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="date">
                <span>
                    <span class="day">8号</span>
                    <span class="month">12月</span>
                </span>
            </div>

            <div class="event-content">
                <h6><a href="event-post-v2.html">第十次常务理事会</a></h6>
                <ul class="event-meta">
                    <li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
                    <li><i class="icons icon-location"></i> 克拉玛依市</li>
                </ul>
            </div>
        </li>

    </ul>
    <a href="#" class="button transparent button-arrow">更多公告</a>
</div>