<section id="content">

    <!-- Section -->
    <section class="section full-width-bg">

        <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-8">

                <!-- Main Slider -->
                <div class="flexslider main-flexslider animate-onscroll">

                    <ul class="slides">

                        <li id="main_flex_1">

                            <div class="slide align-left">
                                <h2>公正<br>
                                    团结<br>
                                    服务</h2>
                                <a href="#" class="button big button-arrow">更多</a>
                            </div>

                        </li>

                        <li id="main_flex_2">

                            <div class="slide align-center">
                                <h4 class="great-vibes">it’s time for changes</h4>

                                <h2>Building Our Future Together!</h2>
                                <a href="#" class="button big button-arrow">Get Involved</a>
                            </div>

                        </li>

                        <li id="main_flex_3">

                            <div class="slide align-right">
                                <h2>克拉玛依建材协会</h2>

                                <p>克拉玛依市家居建材行业协会成立于2014年9月，经克拉玛依市民政局批准登记，是由克拉玛依市家居建材行业及其上下游行业等企业自发组织，自愿组成的社会团体，是介于政府与企业单位之间的，群众性的，非营利性社会团体 </p>
                                <a href="#" class="button big button-arrow">More Info</a>
                            </div>

                        </li>

                    </ul>

                </div>
                <!-- /Main Slider -->

            </div>


            <div class="col-lg-3 col-md-3 col-sm-4 sidebar">

                <div class="banner-wrapper">
                    <a class="banner animate-onscroll" href="#">
                        <i class="icons icon-calendar"></i>
                        <h4>公正、团结、服务</h4>

                        <p>Lorem ipsum dolor sit amet</p>
                    </a>
                </div>

                <div class="banner-wrapper">
                    <a class="banner animate-onscroll" href="#">
                        <i class="icons icon-check"></i>
                        <h4>荣誉铸就历史</h4>

                        <p>创新成就未来</p>
                    </a>
                </div>

                <div class="banner-wrapper">
                    <a class="banner animate-onscroll" href="#">
                        <i class="icons icon-user"></i>
                        <h4>创新成就未来</h4>

                        <p>荣誉铸就历史</p>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!-- /Section -->


    <!-- Section -->
    <section class="section full-width-bg gray-bg">

        <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-8">

                <h3 class="animate-onscroll no-margin-top">协会动态</h3>

                <!-- Blog Post -->
                <div class="blog-post big animate-onscroll">

                    <div class="post-image">

                    </div>

                    <h4 class="post-title"><a href="blog-single-sidebar.html">克拉玛依家居建材行业协会</a></h4>

                    <div class="post-meta">
                        <span>by <a href="#">admin</a></span>
                        <span>October 01, 2013 11:28AM</span>
                    </div>

                    <p>克拉玛依市家居建材行业协会是克拉玛依市家居建材行业具有权威的行业组织机构，下设装修装饰分会、卫浴洁具分会、木门地板分会、照明灯饰分会、五金机电分会、家居家具分会、墙纸涂料分会、板材型材分会、石材钢筋分会、陶瓷分会等10个分会，会员单位囊括了克拉玛依市80%家居建材行业企业，具有行业领导地位。</p>

                    <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                        More</a>

                </div>
                <!-- /Blog Post -->
                <!-- Owl Carousel -->
                <div class="owl-carousel-container">

                    <div class="owl-header">

                        <h3 class="animate-onscroll">建材推荐</h3>

                        <div class="carousel-arrows animate-onscroll">
                            <span class="left-arrow"><i class="icons icon-left-dir"></i></span>
                            <span class="right-arrow"><i class="icons icon-right-dir"></i></span>
                        </div>

                    </div>

                    <div class="owl-carousel" data-max-items="3">

                        <!-- Owl Item -->
                        <div>

                            <!-- Blog Post -->
                            <div class="blog-post animate-onscroll">

                                <div class="post-image">
                                    <img src="img/blog/post2.jpg" alt="">
                                </div>

                                <h4 class="post-title"><a href="blog-single-sidebar.html">Donec porta diam eu
                                        massa</a></h4>

                                <div class="post-meta">
                                    <span>by <a href="#">admin</a></span>
                                    <span>October 01, 2013 11:28AM</span>
                                </div>

                                <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                                    ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                                <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                                    More</a>

                            </div>
                            <!-- /Blog Post -->

                        </div>
                        <!-- /Owl Item -->

                        <!-- Owl Item -->
                        <div>

                            <!-- Blog Post -->
                            <div class="blog-post animate-onscroll">

                                <div class="post-image">
                                    <img src="img/blog/post3.jpg" alt="">
                                </div>

                                <h4 class="post-title"><a href="blog-single-sidebar.html">Vestibulum iaculis </a>
                                </h4>

                                <div class="post-meta">
                                    <span>by <a href="#">admin</a></span>
                                    <span>October 01, 2013 11:28AM</span>
                                </div>

                                <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                                    ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                                <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                                    More</a>

                            </div>
                            <!-- /Blog Post -->

                        </div>
                        <!-- /Owl Item -->

                        <!-- Owl Item -->
                        <div>

                            <!-- Blog Post -->
                            <div class="blog-post animate-onscroll">

                                <div class="post-image">
                                    <img src="img/blog/post4.jpg" alt="">
                                </div>

                                <h4 class="post-title"><a href="blog-single-sidebar.html">Praesent justo dolor</a>
                                </h4>

                                <div class="post-meta">
                                    <span>by <a href="#">admin</a></span>
                                    <span>October 01, 2013 11:28AM</span>
                                </div>

                                <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                                    ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                                <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                                    More</a>

                            </div>
                            <!-- /Blog Post -->

                        </div>
                        <!-- /Owl Item -->

                        <!-- Owl Item -->
                        <div>

                            <!-- Blog Post -->
                            <div class="blog-post animate-onscroll">

                                <div class="post-image">
                                    <img src="img/blog/post2.jpg" alt="">
                                </div>

                                <h4 class="post-title"><a href="blog-single-sidebar.html">Donec porta diam eu
                                        massa</a></h4>

                                <div class="post-meta">
                                    <span>by <a href="#">admin</a></span>
                                    <span>October 01, 2013 11:28AM</span>
                                </div>

                                <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                                    ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                                <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                                    More</a>

                            </div>
                            <!-- /Blog Post -->

                        </div>
                        <!-- /Owl Item -->

                        <!-- Owl Item -->
                        <div>

                            <!-- Blog Post -->
                            <div class="blog-post animate-onscroll">

                                <div class="post-image">
                                    <img src="img/blog/post3.jpg" alt="">
                                </div>

                                <h4 class="post-title"><a href="blog-single-sidebar.html">Vestibulum iaculis </a>
                                </h4>

                                <div class="post-meta">
                                    <span>by <a href="#">admin</a></span>
                                    <span>October 01, 2013 11:28AM</span>
                                </div>

                                <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                                    ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                                <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                                    More</a>

                            </div>
                            <!-- /Blog Post -->

                        </div>
                        <!-- /Owl Item -->

                        <!-- Owl Item -->
                        <div>

                            <!-- Blog Post -->
                            <div class="blog-post animate-onscroll">

                                <div class="post-image">
                                    <img src="img/blog/post4.jpg" alt="">
                                </div>

                                <h4 class="post-title"><a href="blog-single-sidebar.html">Praesent justo dolor</a>
                                </h4>

                                <div class="post-meta">
                                    <span>by <a href="#">admin</a></span>
                                    <span>October 01, 2013 11:28AM</span>
                                </div>

                                <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                                    ante eu lacus. Vestibulum libero nisl, porta vel.</p>

                                <a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read
                                    More</a>

                            </div>
                            <!-- /Blog Post -->

                        </div>
                        <!-- /Owl Item -->

                    </div>

                </div>
                <!-- /Owl Carousel -->                        <!-- Banner Rotator -->
                <div class="banner-rotator animate-onscroll">

                    <div class="flexslider banner-rotator-flexslider">

                        <ul class="slides">

                            <li id="flex_rotator_1">
                                <div class="banner-rotator-content">
                                    <h5>广告招租</h5>

                                    <h2>广告位置</h2>
                                    <span class="date">December 17th</span>
                                    <a href="#" class="button big button-arrow">Details</a>
                                </div>
                            </li>

                            <li id="flex_rotator_2">
                                <div class="banner-rotator-content">
                                    <h5>Campaign trial</h5>

                                    <h2>Corden</h2>
                                    <span class="date">April 12th</span>
                                    <a href="#" class="button big button-arrow">Details</a>
                                </div>
                            </li>

                            <li id="flex_rotator_3">
                                <div class="banner-rotator-content">
                                    <h5>Campaign trial</h5>

                                    <h2>Redhedge</h2>
                                    <span class="date">June 27th</span>
                                    <a href="#" class="button big button-arrow">Details</a>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div>
                <!-- /Banner Rotator -->

            </div>


            <!-- Sidebar -->
            <div class="col-lg-3 col-md-3 col-sm-4 sidebar">

                <!-- Featured Video -->
                <div class="sidebar-box white featured-video animate-onscroll">
                    <h3>最近公告</h3>

                    <a href="#" class="button transparent button-arrow">更多公告</a>
                </div>

                <!-- 热门事件 -->
                <div class="sidebar-box white animate-onscroll">
                    <h3>热门事件</h3>
                    <ul class="upcoming-events">

                        <!-- Event -->
                        <li>
                            <div class="date">
										<span>
											<span class="day">25</span>
											<span class="month">DEC</span>
										</span>
                            </div>

                            <div class="event-content">
                                <h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
                                <ul class="event-meta">
                                    <li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
                                    <li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
                                </ul>
                            </div>
                        </li>
                        <!-- /Event -->

                        <!-- Event -->
                        <li>
                            <div class="date">
										<span>
											<span class="day">5</span>
											<span class="month">JAN</span>
										</span>
                            </div>

                            <div class="event-content">
                                <h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
                                <ul class="event-meta">
                                    <li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
                                    <li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
                                </ul>
                            </div>
                        </li>
                        <!-- /Event -->

                        <!-- Event -->
                        <li>
                            <div class="date">
										<span>
											<span class="day">8</span>
											<span class="month">JAN</span>
										</span>
                            </div>

                            <div class="event-content">
                                <h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
                                <ul class="event-meta">
                                    <li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
                                    <li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
                                </ul>
                            </div>
                        </li>
                        <!-- /Event -->

                    </ul>
                    <a href="#" class="button transparent button-arrow">More events</a>
                </div>
                <!-- /Upcoming Events -->                        <!-- Image Banner -->
                <div class="sidebar-box image-banner animate-onscroll">
                    <a href="issues.html">
                        <img src="../img/main-issues.jpg" alt="">

                        <h3>The main issues</h3>
                        <span class="button transparent button-arrow">Find out more</span>
                    </a>
                </div>
                <!-- /Image Banner -->                        <!-- Flickr Photos -->
                <div class="sidebar-box white flickr-photos animate-onscroll">
                    <h3>Flickr Photos</h3>
                    <ul class="flickr-feed">
                    </ul>
                </div>
                <!-- /Flickr Photos -->
            </div>
            <!-- /Sidebar -->
        </div>

    </section>
    <!-- /Section -->

</section>
