<section id="content">
    <!-- Section -->
    <section class="section full-width-bg">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8">
                <%- include newsList.ejs %>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 sidebar">
                <%- include hotNews.ejs %>
            </div>
        </div>
        <div class="row">
            <%- include advertList.ejs %>
        </div>
    </section>
    <!-- /Section -->
</section>
