<!--协会介绍 -->
<section id="content">
    <div class="post-content">
       <!-- <img src="/themes/img/logoLarge.png" alt="克拉玛依市家居建材行业协会会标">-->
        <p class="animate-onscroll" style="text-indent:2em;"><b>克拉玛依市家居建材行业协会</b>成立于2014年9月，经克拉玛依市民政局批准登记，是由克拉玛依市家居建材行业及其上下游行业等企业自发组织，自愿组成的社会团体，是介于政府与企业单位之间的，群众性的，非营利性社会团体。目前拥有个人会员和单位会员二百余家。</p>
        <p class="animate-onscroll" style="text-indent:2em;">克拉玛依市家居建材行业协会遵守国家宪法、法律法规和相关政策，遵守社会道德风尚，以“团结、诚信、服务、发展、合作、共赢”为办会宗旨，团结全体会员，加强信息沟通和经验交流，实现资源共享。</p>
        <blockquote class="align-right animate-onscroll" style="width:45%">
            <p>会标：荣誉铸就历史，创新成就未来；</p>
            <p>协会宗旨：团结、诚信、服务、发展、合作、共赢</p>
        </blockquote>
        <p class="animate-onscroll" style="text-indent:2em;">协会发展的共同目标：以“公正、团结、服务”为基本原则，切实维护会员企业的合法权益，为广大会员企业提供行业支持，积极协助政府加强行业管理，充分发挥协会在政府与企业之间的桥梁和纽带作用，为克拉玛依市家居建材行业的快速发展做出应有的贡献。</p>
        <p class="animate-onscroll" style="text-indent:2em;">克拉玛依市家居建材行业协会是克拉玛依市家居建材行业具有权威的行业组织机构，下设装修装饰分会、卫浴洁具分会、木门地板分会、照明灯饰分会、五金机电分会、家居家具分会、墙纸涂料分会、板材型材分会、石材钢筋分会、陶瓷分会等10个分会，会员单位囊括了克拉玛依市80%家居建材行业企业，具有行业领导地位。本协会的工作目标是：计划在3-5年内，实现吸纳会员企业1000家以上，把协会打造成为全疆乃至全国最具影响力的行业协会品牌。</p>
        <p class="animate-onscroll" style="text-indent:2em;">本协会接受克拉玛依市工商联合会、克拉玛依市民间组织管理局的业务指导和监督管理。</p>
        <p class="animate-onscroll"><b>协会宗旨：团结、诚信、服务、发展、合作、共赢</b></p>
   </div>
</section>
