<section id="content">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 sidebar">
            <div class="sidebar-box white featured-video animate-onscroll">
                <h3  class="animate-onscroll">协会组织架构</h3>
                <span>
                    <p><b>协会会长：</b>刘杰</p>
                    <p><b>秘书长：</b>何玉英</p>
                    <p><b>监事长：</b>高凤萍</p>
                    <p><b>常务理事：</b>刘杰、何玉英、高凤萍</p>
                    <p style="text-indent:5em;">朱丁茂、祝俊、杨银生</p>
                    <p style="text-indent:5em;">江维、刘洪勇、陈远智</p>
                    <p style="text-indent:5em;">尹洪良、刘利、王庆志</p>
                    <p style="text-indent:5em;">贺小洁、李丹丹</p>
                    <p><b>管材型材分会长：</b>尹洪良</p>
                    <p><b>家居布艺分会长：</b>刘洪勇</p>
                    <p><b>五金机电分会长：</b>杨银生</p>
                    <p><b>门业地板分会长：</b>陈远智</p>
                    <p><b>陶瓷分会长：</b>长祝俊</p>
                    <p><b>装修装饰分会长：</b>江维</p>
                </span>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="owl-carousel-container">
                <div class="owl-header">

                    <h3 class="animate-onscroll">领导简介</h3>

                    <div class="carousel-arrows animate-onscroll">
                        <span class="left-arrow"><i class="icons icon-left-dir"></i></span>
                        <span class="right-arrow"><i class="icons icon-right-dir"></i></span>
                    </div>

                </div>
                <div class="owl-carousel" data-max-items="3">
                    <div>
                        <div class="blog-post animate-onscroll">
                            <div class="post-image">
                                <img src="/themes/img/leader/boss1.jpg" alt="">
                            </div>
                            <h4 class="post-title">刘杰-协会理事（会）长</h4>

                            <p>
                                这是成长的摇篮，在市场竞争的浪涛中，我们同心协力，乘风破浪。我们为协会的事业蒸蒸日上骄傲和自豪，我们用自己的无悔青春，诠释着对工作的热忱和执着。用自己的智慧和汗水，在家居建材市场引航远行。</p>
                        </div>
                    </div>
                    <div>
                        <div class="blog-post animate-onscroll">
                            <div class="post-image">
                                <img src="/themes/img/leader/boss2.jpg" alt="">
                            </div>
                            <h4 class="post-title">何玉英—协会秘书长</h4>

                            <p>
                                成功属于那些自认为自己不如别人而倍加努力的人;卓越商贸有限公司总经理，市家居建材协会理事（会）长，法人代表。主营五金、电动及手动工具等10多项产品。10多年来公司以灵活多样的经营方式，全方位的为新老客户服务。为打造全国一流行业协会品牌，热忱希望与社会各界携手合作，共创美好未来!</p>
                        </div>
                    </div>
                    <div>
                        <div class="blog-post animate-onscroll">
                            <div class="post-image">
                                <img src="/themes/img/leader/boss3.jpg" alt="">
                            </div>
                            <h4 class="post-title">高风萍—协会监事长</h4>

                            <p>
                                相信自己的目标，努力，努力，在努力!浩远商贸有限责任公司总经理，从事管材、水暖、五金，卫浴10余年，是中国联塑集团控股有限公司北疆指定代理商，产品市场前景看好，本公司将力争做的好上加好。</p>
                        </div>
                    </div>
                    <div>
                        <div class="blog-post animate-onscroll">
                            <div class="post-image">
                                <img src="/themes/img/leader/boss4.jpg" alt="">
                            </div>
                            <h4 class="post-title">祝俊 陶瓷分会会长</h4>
                        </div>
                    </div>
                    <div>
                        <div class="blog-post animate-onscroll">
                            <div class="post-image">
                                <img src="/themes/img/leader/boss5.jpg" alt="">
                            </div>
                            <h4 class="post-title">江维 装修装饰分会会长 </h4>
                        </div>
                    </div>
                    <div>
                        <div class="blog-post animate-onscroll">
                            <div class="post-image">
                                <img src="/themes/img/leader/boss6.jpg" alt="">
                            </div>
                            <h4 class="post-title">陈远志 门业地板分会会长</h4>
                        </div>
                    </div>
                    <div>
                        <div class="blog-post animate-onscroll">
                            <div class="post-image">
                                <img src="/themes/img/leader/boss7.jpg" alt="">
                            </div>
                            <h4 class="post-title">杨银生 五金、机电分会会长</h4>
                        </div>
                    </div>
                    <div>
                        <div class="blog-post animate-onscroll">
                            <div class="post-image">
                                <img src="/themes/img/leader/boss8.jpg" alt="">
                            </div>
                            <h4 class="post-title">刘洪勇 家居、布艺分会会长</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
