<div class="sidebar-box white featured-video animate-onscroll">
    <div class="right-arrow"><i class="icons icon-right-dir"></i>

        <h3 style="display:inline-block;">协会宣传片</h3></div>
    <iframe style="height: 200px;" src="http://player.youku.com/embed/XMTQ2MTI2NzIwMA==" frameborder=0
            allowfullscreen></iframe>
</div>
